<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      body { 
        padding-top: 60px;
      }
      .label-white {
       color: white;
      }
      .font_small {
        font-size: 10px;
      }
      .font_middle {
        font-size: 14px;
      }
      .font_large {
        font-size: 18px;
      }
      .changed {
        animation-name: flash-fadein-out;
        animation-duration: 3s;
        animation-timing-function: ease;
        animation-fill-mode: backwards;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
      }
      @keyframes flash-fadein-out {
        0% {
          background: #ff6347;
        }
        100% {
          background: white;
        }
      }
    </style>
    <title>Org Limits Monitor</title>
    <script language="javascript" type="text/javascript">
      var timerId = null;
      var autoRefreshChecked = '<%- AutoRefreshChecked %>';
      var beforeScrollX = <%- ScrollX %>;
      var beforeScrollY = <%- ScrollY %>;
      window.onload = function() {
        var tableTopElement = document.getElementById('tableTop');
        window.scroll({left: beforeScrollY, top: beforeScrollY, behavior: "instant"});
        var itemArray = [<%- itemArrayString %>];
        for (var i = 0; i < itemArray.length; i++) {
          var limitItemElement = document.getElementById(itemArray[i]);
          if (limitItemElement) {
            limitItemElement.className = 'changed';
            var badgeHeaderElement = document.createElement("div");
            badgeHeaderElement.className = 'd-flex align-items-center';
            badgeHeaderElement.innerHTML = limitItemElement.innerHTML;
            var badgeBodyElement = document.createElement("span");
            badgeBodyElement.className = 'ms-1 badge rounded-pill bg-warning text-dark';
            badgeBodyElement.innerHTML = "!";
            limitItemElement.innerHTML = '';
            limitItemElement.prepend(badgeHeaderElement);
            badgeHeaderElement.appendChild(badgeBodyElement);
          }
        }

        if (autoRefreshChecked == 'checked') {
          timerId = setInterval(async function() {
            window.location.href = '/?scroll_x=' + window.scrollX + '&scroll_y=' + window.scrollY;
          }, <%- AutoRefreshInterval %>);
        }
      }
      function refresh() {
        window.location.href = '/?scroll_x=' + window.scrollX + '&scroll_y=' + window.scrollY;
      }
      function toggleAutoRefresh() {
        var isAutoRefresh = 'false';
        if (document.getElementById("autoRefresh").checked) {
          isAutoRefresh = 'true';
        } else {
          isAutoRefresh = 'false';
        }
        var scrollY = window.scrollY;
        window.location.href = '/autorefresh?enabled=' + isAutoRefresh + '&scroll_x=' + window.scrollX + '&scroll_y=' + window.scrollY;
      }
      function changeFontSize() {
        var fontSizeWork = '';
        if (document.getElementById('fontSmallButton').checked) fontSizeWork = 'font_small';
        if (document.getElementById('fontMiddleButton').checked) fontSizeWork = 'font_middle';
        if (document.getElementById('fontLargeButton').checked) fontSizeWork = 'font_large';
        window.location.href = '/fontchange?font_size=' + fontSizeWork + '&scroll_x=' + window.scrollX + '&scroll_y=' + window.scrollY;
      }
      
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-3">
      <div class="container-fluid">
        <div class="navbar-header d-flex flex-row">
          <div class="navbar-brand">Org Limits Monitor</div>
          <div class="d-flex align-items-center">
            <button class="btn btn-primary my-2 my-sm-0" type="submit" id="refreshButton" onclick="refresh();" <%- RefreshDisabled %>>Refresh</button>
            <div class="p-1"></div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="autoRefresh" onchange="toggleAutoRefresh();" <%- AutoRefreshChecked %>>
              <label class="form-check-label label-white" for="autoRefresh">Auto refresh</label>
            </div>
            <div class="p-2"></div>
            <div class="btn-group" role="group">
              <input type="radio" class="btn-check" name="btnradio" id="fontLargeButton" onchange="changeFontSize();" <%- FontLargeButtonChecked %>>
              <label class="btn btn-outline-primary" for="fontLargeButton">Font Large</label>
              <input type="radio" class="btn-check" name="btnradio" id="fontMiddleButton" onchange="changeFontSize();" <%- FontMiddleButtonChecked %>>
              <label class="btn btn-outline-primary" for="fontMiddleButton">Font Middle</label>
              <input type="radio" class="btn-check" name="btnradio" id="fontSmallButton" onchange="changeFontSize();" <%- FontSmallButtonChecked %>>
              <label class="btn btn-outline-primary" for="fontSmallButton">Font Small</label>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid <%- FontSize %>" id="tableTop">
      <div class="row">
        <div class="col-6 table-responsive">
          <table class="table table-sm small">
            <thead>
              <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Remaining</th>
                <th>Max</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="6">Lightning Platform REST and Bulk APIs</td>
                <td id="DailyApiRequests" data-bs-toggle="tooltip" title="Daily API calls">DailyApiRequests</td>
                <td id="DailyApiRequestsRemaining"><%- DailyApiRequestsRemaining %></td>
                <td id="DailyApiRequestsMax"><%- DailyApiRequestsMax %></td>
              </tr>
              <tr>
                <td id="DailyAsyncApexExecutions" data-bs-toggle="tooltip" title="Daily number of asynchronous Apex method executions, which includes batch Apex, future methods, Queueable Apex, and scheduled Apex.">DailyAsyncApexExecutions</td>
                <td id="DailyAsyncApexExecutionsRemaining"><%- DailyAsyncApexExecutionsRemaining %></td>
                <td id="DailyAsyncApexExecutionsMax"><%- DailyAsyncApexExecutionsMax %></td>
              </tr>
              <tr>
                <td id="DailyAsyncApexTests" data-bs-toggle="tooltip" title="Daily number of asynchronous Apex test executions. This limit is available in API version 56.0 and later.">DailyAsyncApexTests</td>
                <td id="DailyAsyncApexTestsRemaining"><%- DailyAsyncApexTestsRemaining %></td>
                <td id="DailyAsyncApexTestsMax"><%- DailyAsyncApexTestsMax %></td>
              </tr>
              <tr>
                <td id="DailyBulkApiBatches" data-bs-toggle="tooltip" title="Daily Bulk API and Bulk API 2.0 batches.">DailyBulkApiBatches</td>
                <td id="DailyBulkApiBatchesRemaining"><%- DailyBulkApiBatchesRemaining %></td>
                <td id="DailyBulkApiBatchesMax"><%- DailyBulkApiBatchesMax %></td>
              </tr>
              <tr>
                <td id="DailyBulkV2QueryFileStorageMB" data-bs-toggle="tooltip" title="Daily storage for queries in Bulk API 2.0 (measured in MB).">DailyBulkV2QueryFileStorageMB</td>
                <td id="DailyBulkV2QueryFileStorageMBRemaining"><%- DailyBulkV2QueryFileStorageMBRemaining %></td>
                <td id="DailyBulkV2QueryFileStorageMBMax"><%- DailyBulkV2QueryFileStorageMBMax %></td>
              </tr>
              <tr>
                <td id="DailyBulkV2QueryJobs" data-bs-toggle="tooltip" title="Daily number of query jobs in Bulk API 2.0. ">DailyBulkV2QueryJobs</td>
                <td id="DailyBulkV2QueryJobsRemaining"><%- DailyBulkV2QueryJobsRemaining %></td>
                <td id="DailyBulkV2QueryJobsMax"><%- DailyBulkV2QueryJobsMax %></td>
              </tr>

              <tr>
                <td rowspan="4">Platform Events</td>
                <td id="HourlyPublishedPlatformEvents" data-bs-toggle="tooltip" title="High-volume platform event notifications published per hour">HourlyPublishedPlatformEvents</td>
                <td id="HourlyPublishedPlatformEventsRemaining"><%- HourlyPublishedPlatformEventsRemaining %></td>
                <td id="HourlyPublishedPlatformEventsMax"><%- HourlyPublishedPlatformEventsMax %></td>
              </tr>
              <tr>
                <td id="HourlyPublishedStandardVolumePlatformEvents" data-bs-toggle="tooltip" title="Standard-volume platform event notifications published per hour">HourlyPublishedStandardVolumePlatformEvents</td>
                <td id="HourlyPublishedStandardVolumePlatformEventsRemaining"><%- HourlyPublishedStandardVolumePlatformEventsRemaining %></td>
                <td id="HourlyPublishedStandardVolumePlatformEventsMax"><%- HourlyPublishedStandardVolumePlatformEventsMax %></td>
              </tr>
              <tr>
                <td id="DailyStandardVolumePlatformEvents" data-bs-toggle="tooltip" title="Daily standard-volume platform event notifications delivered to CometD clients">DailyStandardVolumePlatformEvents</td>
                <td id="DailyStandardVolumePlatformEventsRemaining"><%- DailyStandardVolumePlatformEventsRemaining %></td>
                <td id="DailyStandardVolumePlatformEventsMax"><%- DailyStandardVolumePlatformEventsMax %></td>
              </tr>
              <tr>
                <td id="PublishCallbackUsageInApex" data-bs-toggle="tooltip" title="The usage of all publish callbacks in the last 30 minutes">PublishCallbackUsageInApex</td>
                <td id="PublishCallbackUsageInApexRemaining"><%- PublishCallbackUsageInApexRemaining %></td>
                <td id="PublishCallbackUsageInApexMax"><%- PublishCallbackUsageInApexMax %></td>
              </tr>

              <tr>
                <td rowspan="2">Platform Events and Change Data Capture</td>
                <td id="DailyDeliveredPlatformEvents" data-bs-toggle="tooltip" title="Org Without Add-On License: Daily Usage and Default Allocation">DailyDeliveredPlatformEvents</td>
                <td id="DailyDeliveredPlatformEventsRemaining"><%- DailyDeliveredPlatformEventsRemaining %></td>
                <td id="DailyDeliveredPlatformEventsMax"><%- DailyDeliveredPlatformEventsMax %></td>
              </tr>
              <tr>
                <td id="MonthlyPlatformEventsUsageEntitlement" data-bs-toggle="tooltip" title="Org With Add-On License: Monthly Usage-Based Entitlement">MonthlyPlatformEventsUsageEntitlement</td>
                <td id="MonthlyPlatformEventsUsageEntitlementRemaining"><%- MonthlyPlatformEventsUsageEntitlementRemaining %></td>
                <td id="MonthlyPlatformEventsUsageEntitlementMax"><%- MonthlyPlatformEventsUsageEntitlementMax %></td>
              </tr>

              <tr>
                <td rowspan="3">Streaming API—Durable (API version 37.0 and later)</td>
                <td id="DailyDurableGenericStreamingApiEvents" data-bs-toggle="tooltip" title="Generic events notifications delivered in the past 24 hours to all CometD clients">DailyDurableGenericStreamingApiEvents</td>
                <td id="DailyDurableGenericStreamingApiEventsRemaining"><%- DailyDurableGenericStreamingApiEventsRemaining %></td>
                <td id="DailyDurableGenericStreamingApiEventsMax"><%- DailyDurableGenericStreamingApiEventsMax %></td>
              </tr>
              <tr>
                <td id="DailyDurableStreamingApiEvents" data-bs-toggle="tooltip" title="PushTopic event notifications delivered in the past 24 hours to all CometD clients">DailyDurableStreamingApiEvents</td>
                <td id="DailyDurableStreamingApiEventsRemaining"><%- DailyDurableStreamingApiEventsRemaining %></td>
                <td id="DailyDurableStreamingApiEventsMax"><%- DailyDurableStreamingApiEventsMax %></td>
              </tr>
              <tr>
                <td id="DurableStreamingApiConcurrentClients" data-bs-toggle="tooltip" title="Concurrent CometD clients (subscribers) across all channels and for all event types">DurableStreamingApiConcurrentClients</td>
                <td id="DurableStreamingApiConcurrentClientsRemaining"><%- DurableStreamingApiConcurrentClientsRemaining %></td>
                <td id="DurableStreamingApiConcurrentClientsMax"><%- DurableStreamingApiConcurrentClientsMax %></td>
              </tr>

              <tr>
                <td rowspan="3">Streaming API (API version 36.0 and earlier)</td>
                <td id="DailyGenericStreamingApiEvents" data-bs-toggle="tooltip" title="Generic events notifications delivered in the past 24 hours to all CometD clients">DailyGenericStreamingApiEvents</td>
                <td id="DailyGenericStreamingApiEventsRemaining"><%- DailyGenericStreamingApiEventsRemaining %></td>
                <td id="DailyGenericStreamingApiEventsMax"><%- DailyGenericStreamingApiEventsMax %></td>
              </tr>
              <tr>
                <td id="DailyStreamingApiEvents" data-bs-toggle="tooltip" title="PushTopic event notifications delivered in the past 24 hours to all CometD clients">DailyStreamingApiEvents</td>
                <td id="DailyStreamingApiEventsRemaining"><%- DailyStreamingApiEventsRemaining %></td>
                <td id="DailyStreamingApiEventsMax"><%- DailyStreamingApiEventsMax %></td>
              </tr>
              <tr>
                <td id="StreamingApiConcurrentClients" data-bs-toggle="tooltip" title="Concurrent CometD clients (subscribers) across all channels and for all event types">StreamingApiConcurrentClients</td>
                <td id="StreamingApiConcurrentClientsRemaining"><%- StreamingApiConcurrentClientsRemaining %></td>
                <td id="StreamingApiConcurrentClientsMax"><%- StreamingApiConcurrentClientsMax %></td>
              </tr>

              <tr>
                <td rowspan="3">Salesforce Connect</td>
                <td id="HourlyLongTermIdMapping" data-bs-toggle="tooltip" title="Hourly new long-term external record ID mappings">HourlyLongTermIdMapping</td>
                <td id="HourlyLongTermIdMappingRemaining"><%- HourlyLongTermIdMappingRemaining %></td>
                <td id="HourlyLongTermIdMappingMax"><%- HourlyLongTermIdMappingMax %></td>
              </tr>
              <tr>
                <td id="HourlyODataCallout" data-bs-toggle="tooltip" title="Hourly OData callouts">HourlyODataCallout</td>
                <td id="HourlyODataCalloutRemaining"><%- HourlyODataCalloutRemaining %></td>
                <td id="HourlyODataCalloutMax"><%- HourlyODataCalloutMax %></td>
              </tr>
              <tr>
                <td id="HourlyShortTermIdMapping" data-bs-toggle="tooltip" title="Hourly new short-term external record ID mappings">HourlyShortTermIdMapping</td>
                <td id="HourlyShortTermIdMappingRemaining"><%- HourlyShortTermIdMappingRemaining %></td>
                <td id="HourlyShortTermIdMappingMax"><%- HourlyShortTermIdMappingMax %></td>
              </tr>

              <tr>
                <td rowspan="2">Storage</td>
                <td id="DataStorageMB" data-bs-toggle="tooltip" title="Data storage (MB)">DataStorageMB</td>
                <td id="DataStorageMBRemaining"><%- DataStorageMBRemaining %></td>
                <td id="DataStorageMBMax"><%- DataStorageMBMax %></td>
              </tr>
              <tr>
                <td id="FileStorageMB" data-bs-toggle="tooltip" title="File storage (MB)">FileStorageMB</td>
                <td id="FileStorageMBRemaining"><%- FileStorageMBRemaining %></td>
                <td id="FileStorageMBMax"><%- FileStorageMBMax %></td>
              </tr>

              <tr>
                <td rowspan="4">Salesforce Developer Experience</td>
                <td id="ActiveScratchOrgs" data-bs-toggle="tooltip" title="Daily and active scratch org counts">ActiveScratchOrgs</td>
                <td id="ActiveScratchOrgsRemaining"><%- ActiveScratchOrgsRemaining %></td>
                <td id="ActiveScratchOrgsMax"><%- ActiveScratchOrgsMax %></td>
              </tr>
              <tr>
                <td id="DailyScratchOrgs" data-bs-toggle="tooltip" title="Daily Scratch Org Allocation">DailyScratchOrgs</td>
                <td id="DailyScratchOrgsRemaining"><%- DailyScratchOrgsRemaining %></td>
                <td id="DailyScratchOrgsMax"><%- DailyScratchOrgsMax %></td>
              </tr>
              <tr>
                <td id="Package2VersionCreates" data-bs-toggle="tooltip" title="Daily number of package versions that you can create. Applies to unlocked and second-generation managed packages.">Package2VersionCreates</td>
                <td id="Package2VersionCreatesRemaining"><%- Package2VersionCreatesRemaining %></td>
                <td id="Package2VersionCreatesMax"><%- Package2VersionCreatesMax %></td>
              </tr>
              <tr>
                <td id="Package2VersionCreatesWithoutValidation" data-bs-toggle="tooltip" title="Daily number of package versions that skip validation that you can create. Applies to unlocked and second-generation managed packages.">Package2VersionCreatesWithoutValidation</td>
                <td id="Package2VersionCreatesWithoutValidationRemaining"><%- Package2VersionCreatesWithoutValidationRemaining %></td>
                <td id="Package2VersionCreatesWithoutValidationMax"><%- Package2VersionCreatesWithoutValidationMax %></td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="col-6 table-responsive">
          <table class="table table-sm small">
            <thead>
              <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Remaining</th>
                <th>Max</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="12">Analytics</td>
                <td id="ConcurrentAsyncGetReportInstances" data-bs-toggle="tooltip" title="Concurrent REST API requests for results of asynchronous report runs">ConcurrentAsyncGetReportInstances</td>
                <td id="ConcurrentAsyncGetReportInstancesRemaining"><%- ConcurrentAsyncGetReportInstancesRemaining %></td>
                <td id="ConcurrentAsyncGetReportInstancesMax"><%- ConcurrentAsyncGetReportInstancesMax %></td>
              </tr>
              <tr>
                <td id="ConcurrentSyncReportRuns" data-bs-toggle="tooltip" title="Concurrent synchronous report runs via REST API">ConcurrentSyncReportRuns</td>
                <td id="ConcurrentSyncReportRunsRemaining"><%- ConcurrentSyncReportRunsRemaining %></td>
                <td id="ConcurrentSyncReportRunsMax"><%- ConcurrentSyncReportRunsMax %></td>
              </tr>
              <tr>
                <td id="HourlyAsyncReportRuns" data-bs-toggle="tooltip" title="Hourly asynchronous report runs via REST API">HourlyAsyncReportRuns</td>
                <td id="HourlyAsyncReportRunsRemaining"><%- HourlyAsyncReportRunsRemaining %></td>
                <td id="HourlyAsyncReportRunsMax"><%- HourlyAsyncReportRunsMax %></td>
              </tr>
              <tr>
                <td id="HourlySyncReportRuns" data-bs-toggle="tooltip" title="Hourly synchronous report runs via REST API">HourlySyncReportRuns</td>
                <td id="HourlySyncReportRunsRemaining"><%- HourlySyncReportRunsRemaining %></td>
                <td id="HourlySyncReportRunsMax"><%- HourlySyncReportRunsMax %></td>
              </tr>
              <tr>
                <td id="HourlyElevateAsyncReportRuns" data-bs-toggle="tooltip" title="">HourlyElevateAsyncReportRuns</td>
                <td id="HourlyElevateAsyncReportRunsRemaining"><%- HourlyElevateAsyncReportRunsRemaining %></td>
                <td id="HourlyElevateAsyncReportRunsMax"><%- HourlyElevateAsyncReportRunsMax %></td>
              </tr>
              <tr>
                <td id="HourlyElevateSyncReportRuns" data-bs-toggle="tooltip" title="">HourlyElevateSyncReportRuns</td>
                <td id="HourlyElevateSyncReportRunsRemaining"><%- HourlyElevateSyncReportRunsRemaining %></td>
                <td id="HourlyElevateSyncReportRunsMax"><%- HourlyElevateSyncReportRunsMax %></td>
              </tr>
              <tr>
                <td id="HourlyDashboardRefreshes" data-bs-toggle="tooltip" title="Hourly dashboard refreshes via REST API">HourlyDashboardRefreshes</td>
                <td id="HourlyDashboardRefreshesRemaining"><%- HourlyDashboardRefreshesRemaining %></td>
                <td id="HourlyDashboardRefreshesMax"><%- HourlyDashboardRefreshesMax %></td>
              </tr>
              <tr>
                <td id="HourlyDashboardResults" data-bs-toggle="tooltip" title="Hourly REST API requests for dashboard results">HourlyDashboardResults</td>
                <td id="HourlyDashboardResultsRemaining"><%- HourlyDashboardResultsRemaining %></td>
                <td id="HourlyDashboardResultsMax"><%- HourlyDashboardResultsMax %></td>
              </tr>
              <tr>
                <td id="HourlyDashboardStatuses" data-bs-toggle="tooltip" title="Hourly dashboard status requests via REST API">HourlyDashboardStatuses</td>
                <td id="HourlyDashboardStatusesRemaining"><%- HourlyDashboardStatusesRemaining %></td>
                <td id="HourlyDashboardStatusesMax"><%- HourlyDashboardStatusesMax %></td>
              </tr>
              <tr>
                <td id="AnalyticsExternalDataSizeMB" data-bs-toggle="tooltip" title="Maximum amount of external data in bytes that can be uploaded daily via REST API">AnalyticsExternalDataSizeMB</td>
                <td id="AnalyticsExternalDataSizeMBRemaining"><%- AnalyticsExternalDataSizeMBRemaining %></td>
                <td id="AnalyticsExternalDataSizeMBMax"><%- AnalyticsExternalDataSizeMBMax %></td>
              </tr>
              <tr>
                <td id="DailyAnalyticsDataflowJobExecutions" data-bs-toggle="tooltip" title="Maximum daily analytics dataflow executions">DailyAnalyticsDataflowJobExecutions</td>
                <td id="DailyAnalyticsDataflowJobExecutionsRemaining"><%- DailyAnalyticsDataflowJobExecutionsRemaining %></td>
                <td id="DailyAnalyticsDataflowJobExecutionsMax"><%- DailyAnalyticsDataflowJobExecutionsMax %></td>
              </tr>
              <tr>
                <td id="DailyAnalyticsUploadedFilesSizeMB" data-bs-toggle="tooltip" title="Maximum cumulative size of external data that can be uploaded to analytics within 24 hours.">DailyAnalyticsUploadedFilesSizeMB</td>
                <td id="DailyAnalyticsUploadedFilesSizeMBRemaining"><%- DailyAnalyticsUploadedFilesSizeMBRemaining %></td>
                <td id="DailyAnalyticsUploadedFilesSizeMBMax"><%- DailyAnalyticsUploadedFilesSizeMBMax %></td>
              </tr>

              <tr>
                <td rowspan="2">Email</td>
                <td id="MassEmail" data-bs-toggle="tooltip" title="Daily number of mass emails that are sent to external email addresses via Apex or APIs">MassEmail</td>
                <td id="MassEmailRemaining"><%- MassEmailRemaining %></td>
                <td id="MassEmailMax"><%- MassEmailMax %></td>
              </tr>
              <tr>
                <td id="SingleEmail" data-bs-toggle="tooltip" title="Daily number of single emails that are sent to external email addresses">SingleEmail</td>
                <td id="SingleEmailRemaining"><%- SingleEmailRemaining %></td>
                <td id="SingleEmailMax"><%- SingleEmailMax %></td>
              </tr>

              <tr>
                <td rowspan="2">Workflows</td>
                <td id="DailyWorkflowEmails" data-bs-toggle="tooltip" title="Daily workflow emails">DailyWorkflowEmails</td>
                <td id="DailyWorkflowEmailsRemaining"><%- DailyWorkflowEmailsRemaining %></td>
                <td id="DailyWorkflowEmailsMax"><%- DailyWorkflowEmailsMax %></td>
              </tr>
              <tr>
                <td id="HourlyTimeBasedWorkflow" data-bs-toggle="tooltip" title="Hourly workflow time triggers">HourlyTimeBasedWorkflow</td>
                <td id="HourlyTimeBasedWorkflowRemaining"><%- HourlyTimeBasedWorkflowRemaining %></td>
                <td id="HourlyTimeBasedWorkflowMax"><%- HourlyTimeBasedWorkflowMax %></td>
              </tr>

              <tr>
                <td rowspan="1">Private Connect</td>
                <td id="PrivateConnectOutboundCalloutHourlyLimitMB" data-bs-toggle="tooltip" title="Maximum amount of data in bytes that can be transferred per hour via outbound private connections.">PrivateConnectOutboundCalloutHourlyLimitMB</td>
                <td id="PrivateConnectOutboundCalloutHourlyLimitMBRemaining"><%- PrivateConnectOutboundCalloutHourlyLimitMBRemaining %></td>
                <td id="PrivateConnectOutboundCalloutHourlyLimitMBMax"><%- PrivateConnectOutboundCalloutHourlyLimitMBMax %></td>
              </tr>


              <tr>
                <td rowspan="6">Einstein Discovery</td>
                <td id="DailyEinsteinDiscoveryPredictAPICalls" data-bs-toggle="tooltip" title="">DailyEinsteinDiscoveryPredictAPICalls</td>
                <td id="DailyEinsteinDiscoveryPredictAPICallsRemaining"><%- DailyEinsteinDiscoveryPredictAPICallsRemaining %></td>
                <td id="DailyEinsteinDiscoveryPredictAPICallsMax"><%- DailyEinsteinDiscoveryPredictAPICallsMax %></td>
              </tr>
              <tr>
                <td id="DailyEinsteinDiscoveryPredictionsByCDC" data-bs-toggle="tooltip" title="">DailyEinsteinDiscoveryPredictionsByCDC</td>
                <td id="DailyEinsteinDiscoveryPredictionsByCDCRemaining"><%- DailyEinsteinDiscoveryPredictionsByCDCRemaining %></td>
                <td id="DailyEinsteinDiscoveryPredictionsByCDCMax"><%- DailyEinsteinDiscoveryPredictionsByCDCMax %></td>
              </tr>
              <tr>
                <td id="DailyEinsteinDiscoveryStoryCreation" data-bs-toggle="tooltip" title="">DailyEinsteinDiscoveryStoryCreation</td>
                <td id="DailyEinsteinDiscoveryStoryCreationRemaining"><%- DailyEinsteinDiscoveryStoryCreationRemaining %></td>
                <td id="DailyEinsteinDiscoveryStoryCreationMax"><%- DailyEinsteinDiscoveryStoryCreationMax %></td>
              </tr>
              <tr>
                <td id="MonthlyEinsteinDiscoveryStoryCreation" data-bs-toggle="tooltip" title="">MonthlyEinsteinDiscoveryStoryCreation</td>
                <td id="MonthlyEinsteinDiscoveryStoryCreationRemaining"><%- MonthlyEinsteinDiscoveryStoryCreationRemaining %></td>
                <td id="MonthlyEinsteinDiscoveryStoryCreationMax"><%- MonthlyEinsteinDiscoveryStoryCreationMax %></td>
              </tr>
              <tr>
                <td id="ConcurrentEinsteinDiscoveryStoryCreation" data-bs-toggle="tooltip" title="">ConcurrentEinsteinDiscoveryStoryCreation</td>
                <td id="ConcurrentEinsteinDiscoveryStoryCreationRemaining"><%- ConcurrentEinsteinDiscoveryStoryCreationRemaining %></td>
                <td id="ConcurrentEinsteinDiscoveryStoryCreationMax"><%- ConcurrentEinsteinDiscoveryStoryCreationMax %></td>
              </tr>
              <tr>
                <td id="DailyEinsteinDiscoveryOptimizationJobRuns" data-bs-toggle="tooltip" title="">DailyEinsteinDiscoveryOptimizationJobRuns</td>
                <td id="DailyEinsteinDiscoveryOptimizationJobRunsRemaining"><%- DailyEinsteinDiscoveryOptimizationJobRunsRemaining %></td>
                <td id="DailyEinsteinDiscoveryOptimizationJobRunsMax"><%- DailyEinsteinDiscoveryOptimizationJobRunsMax %></td>
              </tr>

              <tr>
                <td rowspan="5">Other</td>
                <td id="DailyEinsteinDataInsightsStoryCreation" data-bs-toggle="tooltip" title="">DailyEinsteinDataInsightsStoryCreation</td>
                <td id="DailyEinsteinDataInsightsStoryCreationRemaining"><%- DailyEinsteinDataInsightsStoryCreationRemaining %></td>
                <td id="DailyEinsteinDataInsightsStoryCreationMax"><%- DailyEinsteinDataInsightsStoryCreationMax %></td>
              </tr>
              <tr>
                <td id="ConcurrentEinsteinDataInsightsStoryCreation" data-bs-toggle="tooltip" title="">ConcurrentEinsteinDataInsightsStoryCreation</td>
                <td id="ConcurrentEinsteinDataInsightsStoryCreationRemaining"><%- ConcurrentEinsteinDataInsightsStoryCreationRemaining %></td>
                <td id="ConcurrentEinsteinDataInsightsStoryCreationMax"><%- ConcurrentEinsteinDataInsightsStoryCreationMax %></td>
              </tr>
              <tr>
                <td id="HourlyManagedContentPublicRequests" data-bs-toggle="tooltip" title="">HourlyManagedContentPublicRequests</td>
                <td id="HourlyManagedContentPublicRequestsRemaining"><%- HourlyManagedContentPublicRequestsRemaining %></td>
                <td id="HourlyManagedContentPublicRequestsMax"><%- HourlyManagedContentPublicRequestsMax %></td>
              </tr>
              <tr>
                <td id="PermissionSets" data-bs-toggle="tooltip" title="">PermissionSets</td>
                <td id="PermissionSetsRemaining"><%- PermissionSetsRemaining %></td>
                <td id="PermissionSetsMax"><%- PermissionSetsMax %></td>
              </tr>
              <tr>
                <td id="CdpAiInferenceApiMonthlyLimit" data-bs-toggle="tooltip" title="">CdpAiInferenceApiMonthlyLimit</td>
                <td id="CdpAiInferenceApiMonthlyLimitRemaining"><%- CdpAiInferenceApiMonthlyLimitRemaining %></td>
                <td id="CdpAiInferenceApiMonthlyLimitMax"><%- CdpAiInferenceApiMonthlyLimitMax %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
